!=partial "doctype"
%p
  Welcome
  -if @user
    =@user.username
    != link_to 'New Campaign', url(:campaign, :new)
    != link_to 'Logout', url(:authentication, :logout)
  -else
    %br
    != link_to 'Login', url(:authentication, :login)
    %br
    != link_to 'Sign up', url(:authentication, :signup)
