%form{:action => "#", :method => "post"}
  %label{:for => "name"} Name
  %input{:type => "text", :name => "name", :id => "name", :value => @campaign.name, :required => "required"}
  %br
  %input{:type => "submit", :value => "Create Campaign"}
