%a{:href => url(:campaign, :list)}Back
%h1=@campaign.name
-if @campaign.master_user_id == session[:user].id
  %a{:href => url(:campaign, :create_character, @campaign.id.to_s)}Create character
  %br
  %a{:href => url(:campaign, :invite, @campaign.id.to_s)}Invite users
-if @campaign.characters.count > 0
  %p Characters
  %ul
  -@campaign.characters.each do |c|
    %li
      #{c.name} (#{c.user.username})
%form{:action => url(:campaign, :post, @campaign.id), :method => :post}
  %textarea{:id => :message, :name => :message, :cols => 60, :rows => 20}
  %br
  %input{:type => :submit, :value => 'Send'}


-if @campaign.stream.count > 0
  %table
    !=partial 'campaign/stream', :collection => @campaign.stream
